@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 10px; /* si lo quiero modificar tiro el !important y listo */

}
::-webkit-scrollbar-track {
  border-radius: 20px;
}
::-webkit-scrollbar-thumb {
  border-radius: 20px;
}

@layer components{
  .top-neg-1{
      top: -25px;
  }}
